
%p A Ruby developer with completely random skill levels, perhaps based on the current phase of Phobos.

- @items.select {|i| i[:kind] == 'article' }.sort_by {|i| i[:created_at] }.reverse.take(3).each do |item|
  = render 'article', item: item, summary: true

