$background_color: #daf8c9;

$dark_color: #1a3009;
$medium_color: #a8c595;
$light_color: #c9e6b6;

$text_color: #000;
$inverted_text_color: #daf8c9;

$hover_color: #e9ffd6;

$image_border: 2px solid black;

$large_font_size: 120%;
$normal_font_size: 100%;
$small_font_size: 80%;

body {
    background-color: $background_color;
    font-family: Helvetica,Arial,FreeSans;
    color: $text_color;
    margin: 0.5em 5% 4em 5%;
}


// Headings
h1 {
    font-size: 1.7em;
    text-align: center;
    margin-top: 0;
    color: $inverted_text_color;
    background-color: $dark_color;
    width: 100%;
    border: 0;
    padding: 4px 0;
}

h2 {
    font-size: 1.2em;
    margin-bottom: .5ex;
    background-color: $light_color;
    padding: .5em;
}

h2 a, h3 a {
    text-decoration: none;
    color: #250736;
}

h1 a {
    text-decoration: none;
    color: $inverted_text_color;
}


.banner {
    height: 128 + 2px;
    background-image: url(/images/banner_background.png);
    background-repeat: repeat-x;
    background-color: $light_color;
    border: $image_border;
    text-align: center;

    img.title {
        margin-top: 21px;
        margin-bottom: 0;
        width: 397px;
        height: 64px;
    }
    img.subtitle {
        margin-top: 13px;
        width: 500px;
        height: 12px;
    }
    img.banner_left {
        float: left;
        border: $image_border;
        width: 128px;
        height: 128px;
    }
    img.banner_right {
        float: right;
        border: $image_border;
        width: 128px;
        height: 128px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

pre {
    background: #000;
    color: #fff;
    padding: 15px;
    margin-left: 2em;
}

.app {
    clear: left;
}

.links {
    margin-top: 1em;
    margin-bottom: 1em;
}

.status {
    font-style: italic;
}

hr {
  background-color: $light_color;
  height: 4px;
  border: none;
  width: 100%;
  margin-top: 2em;
}

span.date {
  float: right;
}

.col_mask {
    position: relative;		// This fixes the IE7 overflow hidden bug and stops the layout jumping out of place
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

.right_menu {
    .col_left {
        float: left;
        width: 200%;
        margin-left: -12em;
        position: relative;
        right: 100%;
    }

    .contents_wrap {
        float: left;
        width: 50%;
        position: relative;
        left: 50%;
        padding-bottom: 1em;
    }

    .contents {
        margin: 0 1em 0 12em;
        overflow: hidden;
     }

    .sidebar {
        float: right;
        width: 12em;
        position: relative;
        left: 13em;
        margin: 0 0 4em 32px;
        background-color: $medium_color;
    }
}

@mixin menu_category {
    font-size: $large_font_size;
    margin-bottom: 1em;
    width: 10em;
}

nav.menu {
    ul {
        list-style: none;
        padding-left: 0.75em;
        font-style: normal;

        ul {
            list-style: none;
            padding-left: 0;
            padding-bottom: 1em;
            font-style: italic;

            a {
                font-size: $normal_font_size;
            }

            .active {
                font-size: $normal_font_size;
                margin-bottom: 1em;
            }
        }

        a {
            @include menu_category;
            text-decoration: none;
            color: $text_color;
            &:hover {
              text-decoration: underline;
            }
        }
        .active {
            @include menu_category;
            margin-bottom: 1em;
        }
    }
}

.posted {
  font-style: italic;
  font-size: $small_font_size;
}

.tags {
    font-size: $small_font_size;
    margin-top: .5em;
}

.footer {
    text-align: center;
    margin-top: 2em;
    padding: 0.25em 0;
    font-style: italic;
    clear: both;
    float: left;
    background-color: #a8c595;
    width: 100%;
}

.feed {
    a {
        text-decoration: none;
    }
    img {
        width: 14px;
        height: 14px;
    }
}

.breadcrumbs {
    clear: both;
    margin-bottom: 1em;

    a {
        text-decoration: none;
        font-size: 80%;
    }
}



img.app_icon {
    width: 128px;
    height: 128px;
    float: right;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 2em;
    margin-top: -16px;
}

img.app_icon_small {
    width: 16px;
    height: 16px;
    margin: 0;
}

.comments {
  float: right;
}

.more {
}

@mixin navbar_button {
    border: 3px solid $medium_color;
    padding: .25em 2em;
    width: 10em;
    text-align: center;
}

nav.navbar {
    clear: both;

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline;
            padding: 0;
            margin: 0 0.25em 0 0;


            a {
                @include navbar_button;
                text-decoration: none;
                background-color: $light_color;
                color: $text_color;

                &:hover {
                    background-color: $hover_color;
                }
            }
            span {
                @include navbar_button;
                background-color: $background_color;
            }
        }
    }
}

