-# List of all posts by year.

%h1
  = link_to @item.title, @item.path

.feed
  %a{ href: "/blog/feed.xml", title: "Subscribe to Atom feed" }
    %img{ src: "/images/feed-icon-14x14.png", alt: "Atom feed" }
    Subscribe

- @item.children.reverse_each do |year|
  - next unless year.kind == 'year'

  %h2
    = link_to year.title, year.path

  - previous_month = nil
  %ul
    - sorted_articles.select {|i| i.year.to_s == year.name }.each do |article|
      - if article.month != previous_month
        - previous_month = article.month
        %h3
          =link_to article.month_name, article.parent.path

      %li
        = link_to article.title, article.path
        \-
        = pretty_date article.created_at