-# A month of posts

%h1= link_to @item.full_title, @item.permalink

= render 'previous_next', list: sorted_months

- @item.identifier =~ %r[^/(\d{4})/]
- year = $1.to_i
- sorted_news.select {|i| i.year == year and i.month == @item.name.to_i }.each do |article|
  = render article.layout, item: article, summary: true

%hr/

= render 'previous_next', list: sorted_months

