-# A month of posts

%h1= link_to "#{@item.title} #{@item.parent.title}", @item.permalink

- sorted_articles.select {|i| i.month == @item.name.to_i }.each do |article|
  = render 'article', item: article, summary: true