-# A month of posts

%h1= link_to @item.full_title, @item.permalink

= render 'previous_next', list: sorted_months

- (sorted_news & @item.children).each do |article|
  = render article.layout, item: article, full: true

%hr/

= render 'previous_next', list: sorted_months

