-# Horizontal navigation bar.

%nav.navbar
  %ul
    %li
      = link_to_unless_current "Home", "/"

    - home.children.each do |item|
      - if item[:title]
        %li
          = link_to_unless_current item.title, item.path