%div
  %h4
    %a{href: @item.path} [#{pretty_date File.basename(@item.identifier)}] #{@item[:title]}

  %p= @item.compiled_content

  - if false and @summary
    %a{ href: @item.path } Read more...


