-# Links to previous and next items.
- this_index = @list.index(@item)

%nav.previous_next
  - if @item != @list.first
    - next_item = @list[this_index - 1]
    .next= link_to next_item.full_title, next_item, title: "Next"

  - if @item != @list.last
    - previous_item = @list[this_index + 1]
    .previous= link_to previous_item.full_title, previous_item, title: "Previous"