.feed
  - title = @item == home ? "news" : @item.title.downcase
  %a{ href: @item[:feed_url], title: "Subscribe to #{title} xml feed" }
    Subscribe to #{title}
    %img{ src: "/images/feed-icon-14x14.png", alt: "XML feed" }