-# A whole year of posts

%h1= link_to @item.title, @item.permalink

= render 'previous_next', list: sorted_years

- sorted_news.select {|i| i.year.to_s == @item.name }.each do |article|
  = render article.layout, item: article, summary: true

%hr/

= render 'previous_next', list: sorted_years